* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* common css */
body {
  background-color: #fafcff;
  font-family: Inter;
}
.container-width {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}
.color-red {
  color: #e95a08;
}
/* common css */
/* custom css start */
/* nav section start */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.header-left {
}
.header-left img {
  width: 135px;
  height: 82px;
}
.header-right {
}
.header-right ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header-right ul li {
}
.header-right ul li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 400;
}
.header-right ul li a:hover {
  color: rgb(37, 36, 50);
  font-weight: 700;
}
.header-right ul li a.active {
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.header-right ul li a.cart-focus {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
/* nav section end */
/* banner section start */
.banner-section {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.banner-left {
}
.banner-left h1 {
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
  color: #000000;
}

.banner-left p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}
.banner-right {
}
.banner-right img {
  width: 570px;
  height: 355px;
}
/* banner section end */
/* plants section start */
.plants {
}
.plants-top {
  text-align: center;
}
.plants-top h2 {
  font-size: 50px;
  font-weight: 700;
}
.plants-top p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
}
.plants-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.plants-flower {
}
/* .plants-flower img {
  width: 270px;
  height: 322.94px;
} */
.plants-flower img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.text-button-area {
  text-align: center;
}
.plants-flower p {
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 500;
}

.plants-flower p > .usd {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
}

.plants-flower button {
  width: 270px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 26px 50px 26px 50px; */
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  border: none;
}
/* plants section end */
/* plants lover section start */

.plants-lover {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  gap: 150px;
  position: relative;
}
.plants-lover-left {
}
.left-image {
  width: 131%;
}

.left-image img {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(103, 171, 234, 0.24),
      rgba(233, 90, 8, 0.6) 100%
    ),
    url(image);
}
.trusted-img {
}

/* .trusted-img  */
.trusted-img img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -85px;
  left: 296px;
}
.plants-lover-right {
  width: 100%;
}
.plants-lover-right h3 {
  color: rgb(0, 0, 0);
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
}
.plants-lover-right ul {
}
.plants-lover-right ul li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
}

/* for mobile responsive design  */
/* for mobile responsive design  */
/* for mobile responsive design  */
@media screen and (max-width: 430px) {
  .nav-section,
  .plants,
  .plants-lover {
    width: 100%;
  }

  .header-right ul li {
    display: none;
  }
  .header-right ul li:last-child {
    display: block;
  }
  /* banner section  start*/
  .banner-section {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .banner-left {
    order: 2;
    width: 100%;
    height: auto;
  }

  .banner-right {
    order: 1;
    width: 100%;
    height: auto;
  }
  .banner-right img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .banner-left h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 12px;
  }
  .banner-left p {
    text-align: left;
    margin-left: 12px;
  }
  .display-block {
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: -50px;
  }

  .plants-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12px;
    gap: 16px;
  }
  .plants-bottom img {
    width: 100%;
    height: auto;
  }

  .plants-flower button {
    width: 100%;
  }

  /* plant lover responsive start  */
  .trusted-img img {
    display: none;
  }

  .plants-lover {
    display: flex;
    margin-top: 38px;
    gap: 0px;
    flex-direction: column;
    padding: 0 16px;
    text-align: center;
  }

  .plants-lover-left {
    order: 1;
    width: 100%;
    height: auto;
  }
 .left-image {
    width: 100% !important;
  }
  .plants-lover-right {
    order: 2;
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }

  .plants-lover-right h3 {
    font-size: 24px;
    margin: 16px 0;
  }

  .plants-lover-right li {
    font-size: 16px;
    line-height: 1.6;
  }
  h3 br {
    display: none; 
}
